.place__image {
  grid-area: image;
  object-fit: contain;  
}

@media screen and (max-width: 1280px) {
  .place__image {
    width: 460px;
  }
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    align-self: center;
    width: 320px;
  }
}