@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__overlay/cover__overlay.css');

.cover {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: calc(100% - 96px);
  max-width: 1184px;

  margin: 92px auto 0;  

  background-image: url('../../images/cover-trains.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  transition: opacity 1s ease;
  opacity: 0.3;
  z-index: 10;
}

.cover:hover::after {
  opacity: 0.8;  
}

@media screen and (max-width: 1024px) {
  .cover {    
    width: 100%;
    margin: 92px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {    
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {    
    margin: 64px auto 0;
  }
}